.container {
  /* width: 100%; */
  padding: 50px 0px;
  margin: 20px;
}

.row {
  display: flex;
}

.col-sm-6, .col-md-12 {
  width: 100%;
}

.form-control {
  display: block;
  width: 80%;
  margin: 0 75px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

textarea.form-control {
  min-height: calc(1.5em + .75rem + 2px);
}

textarea {
  resize: vertical;
  width: 90%;
  padding: 10px;
  margin: 10px;
}


.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

p, label {
  margin: 10px 10px;
}

.form-group {
  display: flex;    display: flex;
  align-items: center;
  padding-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
